
.table__row {
  position relative
  display block

  background-color rgba(255, 255, 255, 0.4)

  height 64px
  width 100%
}

.table__name {
  position relative
  display block
  width 100%
}
.table__subject {
  display inline-block
  width 40%
}
.table__time {
  display inline-block
  width 50%
}

.table__col {
  position relative
  display inline-block
  width 100%
}
