.button {
  padding 20px 35px
  margin 20px 0 0 0

  background-color #aea
  border none

  text-align center
  font-size 18px
  color #333

  border-radius 10px
  appearance none

  cursor pointer

  &:hover {
    opacity 0.8
  }

  &:active {
    background-color #9e9
    opacity 0.7
  }
}
