.button {
  padding 20px 35px
  background-color #aea
  border none


  text-align center
  font-size 18px
  color #333

  border-radius 10px
  appearance none

  &:hover {
    opacity 0.8
  }

  &:active {
    background-color #8a8
    opacity 1
  }
}
